.nfcPage {
  text-align: center;
  background-size: contain;
  background-attachment: fixed;
  background-image:
    linear-gradient(to right, #4f46e520 1px, transparent 1px),
    linear-gradient(to bottom, #4f46e520 1px, transparent 1px),
    linear-gradient(130deg, #031cff, #000, #03093c);
  animation: gradientMove 10s ease infinite;
  background-size: 40px 40px, 40px 40px, 500% 500%;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: #00d4ff;
  font-family: 'Cairo', sans-serif;

  background-image:
    linear-gradient(to right, #4f46e520 1px, transparent 1px),
    linear-gradient(to bottom, #4f46e520 1px, transparent 1px),
    linear-gradient(130deg, #031cff, #000, #03093c);
  animation: gradientMove 10s ease infinite;
  background-size: 40px 40px, 40px 40px, 500% 500%;

}


/* --- Remaining Styles --- */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (max-width:400px) {
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: #00d4ff;
    font-family: 'Cairo', sans-serif;

    background-image:
      linear-gradient(to right, #4f46e520 1px, transparent 1px),
      linear-gradient(to bottom, #4f46e520 1px, transparent 1px),
      linear-gradient(130deg, #03093c, #000, #03093c);

    animation: gradientMove 10s ease infinite;


    /* Sizes: 40px squares for the grid, 500% for the gradient stretch */
    background-size: 40px 40px, 40px 40px, 100% 600%;

    /* Initial Position: Grid at top-left (0 0), Gradient at start (0% 50%) */
    /* background-position: 0 0, 0 0, 0% 50%; */

    /* Prevent the gradient from tiling awkwardly */

  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.front, .back {
  -webkit-backface-visibility: hidden !important;
  backface-visibility: hidden !important;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.react-card-flip {
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.bioContainer p {
  font-size: 1.25rem;
  line-height: 30px;
}

@keyframes gradientMove {
  0% {
    background-position-x: 90%;
  }

  50% {
    background-position-x: 50%;
  }

  100% {
    background-position-x: 90%;
  }
}